<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 - 주문내역</title>
    <th:block th:replace="member/include/head :: headFragment"></th:block>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- 사이트 바 -->
        <th:block th:replace="member/include/side :: sideFragment"></th:block>

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- header fragment 사용 -->
            <th:block th:replace="member/include/header :: headerFragment"></th:block>

            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">상품내역</h1>
                    <p class="mb-4"> 현재 판매중인 상품 리스트입니다. <a target="_blank"
                            th:href="@{/member/product-create}">상품등록</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="5%">NO</th>
                                            <th width="8%">이름</th>
                                            <th width="10%">휴대폰번호</th>
                                            <th width="25%">주소</th>
                                            <th width="8%">계좌명</th>
                                            <th width="8%">배송방법</th>
                                            <th width="8%">현금영수증</th>
                                            <th width="20%">주문내역</th>
                                            <th width="15%">가격</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- footer fragment 사용 -->
            <th:block th:replace="member/include/footer :: footerFragment"></th:block>
        </div>
    </div>
<th:block th:replace="member/include/script :: scriptFragment"></th:block>
<script th:inline="javascript" th:src="@{/js/datatables/order.js}"></script>
<script th:inline="javascript">

    
</script>
</body>       
</html>