<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <header>
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"  th:text="${#authentication.name}"></span>
                        <img class="img-profile rounded-circle"
                            src="/img/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#" onclick="showModal('profileModal');">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            프로필
                        </a>
                        <a class="dropdown-item" th:href="@{/member/login-history}">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            로그인 내역
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"> -->
                        <a class="dropdown-item" th:href="@{#}" th:onclick="goPost('/member/logout')">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            로그아웃
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
    </header>
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">프로필</h5>
                    <button class="close" type="button" aria-label="Close" onclick="cancel('profileModal')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form" method="POST" onsubmit="return false;">
                        <input type="hidden" id="no" name="no">
                        <div class="mb-4">
                            <label for="name" class="form-label">이름</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="name" name="name" readonly>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="id" class="form-label">ID</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="id" name="id" readonly>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">비밀번호</label>
                            <div class="row col-12">
                                <input type="password" class="form-control" id="password" name="password">
                                <div class="valid mt-2" id="valid_password"></div> 
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="passwordCheck" class="form-label">비밀번호확인</label>
                            <div class="row col-12">
                                <input type="password" class="form-control" id="passwordCheck" name="passwordCheck">
                                <div class="valid mt-2" id="valid_passwordCheck"></div> 
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="form-label">이메일</label>
                            <div class="row col-12">
                                <input type="email" class="form-control" id="email" name="email">
                                <div class="valid mt-2" id="valid_email"></div> 
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" onclick="Delete()">삭제</button>
                            <!-- <button class="btn btn-primary" type="button" onclick="delete()">삭제</button> -->
                            <button class="btn btn-primary" type="button" onclick="update()">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        function showModal(id) {

            fetch('http://localhost:8080/member/getMember', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                if(data) {
                    console.log(data);
                    document.getElementById('name').value = data.name;
                    document.getElementById('id').value = data.id;
                    document.getElementById('email').value = data.email;
                    $('#'+id).modal();
                }else{
                    Swal.fire({
                        title: '실패',
                        text: '관리자에게 문의하세요',
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });  
                }
            })
            .catch(error => {
                Swal.showValidationMessage(
                `Request failed: ${error}`
                )
            });
        }

        function cancel(id) {
            $('#'+id).modal('hide');

        }
        
    </script>
</div>
</html>