<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 - 상품내역</title>
    <th:block th:replace="member/include/head :: headFragment"></th:block>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- 사이트 바 -->
        <th:block th:replace="member/include/side :: sideFragment"></th:block>

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- header fragment 사용 -->
            <th:block th:replace="member/include/header :: headerFragment"></th:block>

            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">상품내역</h1>
                    <p class="mb-4"> 현재 판매중인 상품 리스트입니다.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a class="ml-10 w-20 btn btn-primary" href="#" data-toggle="modal" data-target="#createModal">
                                상품등록
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="10%">NO</th>
                                            <th width="50%">상품명</th>
                                            <th width="20%">가격(원)</th>
                                            <th width="10%">등록날짜</th>
                                            <th width="7%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="text-end"></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- footer fragment 사용 -->
            <th:block th:replace="member/include/footer :: footerFragment"></th:block>
        </div>
    </div>
    
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상품등록</h5>
                    <button class="close" type="button" aria-label="Close" onclick="cancel('createModal')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form" method="POST" onsubmit="return false;">
                        <div class="mb-4">
                            <label for="productName" class="form-label">상품명</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="productName" name="productName">
                                <span class="valid mt-2" id="valid_productName"></span> 
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label">가격</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="price" name="price">
                                <div class="valid mt-2" id="valid_price"></div> 
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" onclick="save()">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상품수정</h5>
                    <button class="close" type="button" aria-label="Close" onclick="cancel('updateModal')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form2" method="POST" onsubmit="return false;">
                        <input type="hidden" id="no" name="no">
                        <div class="mb-4">
                            <label for="productName" class="form-label">상품명</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="productName" name="productName">
                                <span class="valid mt-2" id="valid_productName2"></span> 
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label">가격</label>
                            <div class="row col-12">
                                <input type="text" class="form-control" id="price" name="price">
                                <div class="valid mt-2" id="valid_price2"></div> 
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" onclick="Delete()">삭제</button>
                            <!-- <button class="btn btn-primary" type="button" onclick="delete()">삭제</button> -->
                            <button class="btn btn-primary" type="button" onclick="update()">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<th:block th:replace="member/include/script :: scriptFragment"></th:block>
<script th:inline="javascript" th:src="@{/js/datatables/product.js}"></script>
<script th:inline="javascript">
    function save() {
        $.ajax({
            type : 'POST',           // 타입 (get, post, put 등등)
            url : '/member/product-create',           // 요청할 서버url
            dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
            data : {
                productName : form.productName.value,
                price : form.price.value
            },
            success : function(result) { // 결과 성공 콜백함수
                console.log(result);
                if(result.msg == "Y") {

                    $('#createModal').modal('hide');
                    Swal.fire({
                        text: "등록 완료",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        }).then((check) => {
                            $('#dTable').DataTable().ajax.reload();
                    });

                    document.getElementById('productName').value = '';
                    document.getElementById('price').value = '';
                    document.getElementById('valid_productName').innerHTML = '';
                    document.getElementById('valid_price').innerHTML = '';
                } else {
                    document.getElementById('valid_productName').innerHTML = result.valid_productName ? result.valid_productName : '';
                    document.getElementById('valid_price').innerHTML = result.valid_price ? result.valid_price : '';
                }
            },
            error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        });
    }

    function update() {
        $.ajax({
            type : 'POST',           // 타입 (get, post, put 등등)
            url : '/member/product-update',           // 요청할 서버url
            dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
            data : {
                no : form2.no.value,
                productName : form2.productName.value,
                price : form2.price.value
            },
            success : function(result) { // 결과 성공 콜백함수
                console.log(result);
                if(result.msg == "Y") {

                    $('#updateModal').modal('hide');
                    Swal.fire({
                        text: "수정 완료",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        }).then((check) => {
                            $('#dTable').DataTable().ajax.reload();
                    });

                    document.getElementById('productName').value = '';
                    document.getElementById('price').value = '';
                    document.getElementById('valid_productName2').innerHTML = '';
                    document.getElementById('valid_price2').innerHTML = '';
                } else {
                    document.getElementById('valid_productName2').innerHTML = result.valid_productName ? result.valid_productName : '';
                    document.getElementById('valid_price2').innerHTML = result.valid_price ? result.valid_price : '';
                }
            },
            error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        });
    }

    function Delete() {
        $.ajax({
            type : 'POST',           // 타입 (get, post, put 등등)
            url : '/member/product-delete',           // 요청할 서버url
            dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
            data : {
                no : form2.no.value,
            },
            success : function(result) { // 결과 성공 콜백함수
                console.log(result);
                $('#updateModal').modal('hide');
                if(result == "Y") {
                    Swal.fire({
                        text: "삭제 완료",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        }).then((check) => {
                            $('#dTable').DataTable().ajax.reload();
                    });

                } else {
                    Swal.fire({
                        text: "삭제 실패",
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                }
            },
            error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        });
    }

    function cancel(id) {
        $('#'+id).modal('hide');

        document.getElementById('valid_productName').innerHTML = '';
        document.getElementById('valid_price').innerHTML = '';
        document.getElementById('valid_productName2').innerHTML = '';
        document.getElementById('valid_price2').innerHTML = '';
    }
    
</script>
</body>       
</html>