<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>루니웹</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- content script -->
    <th:block th:replace="user/include/head :: headFragment"></th:block>
</head>
<body>

    <th:block th:replace="user/include/header :: headerFragment"></th:block>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">주문내역</th>
                <th scope="col">주문일</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.no}"></td>
                    <td th:utext="${order.plist}"></td>
                    <td th:text="${order.inTime}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <th:block th:replace="user/include/footer :: footerFragment"></th:block>

<th:block th:replace="user/include/script :: scriptFragment"></th:block>
</body>
</html>