<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>루니웹</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- content script -->
    <th:block th:replace="user/include/head :: headFragment"></th:block>
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/script.js}"></script>
        <script th:src="@{/js/order.js}"></script>
    </th:block>
</head>
<body>
    <!-- header fragment 사용 -->
    <!-- <th:block th:replace="include/header :: headerFragment"></th:block> -->
    <!-- content fragment 사용 -->
    <div class="container">
        <div class="row g-5 d-flex justify-content-center">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">주문하기</h4>
            <form method="POST" class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-12">
                  <label for="name" class="form-label">이름</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="홍길동" value="" required>
                  <div class="invalid-feedback">
                    이름을 입력해주세요.
                  </div>
                </div>

                <div class="col-12">
                  <label for="phone" class="form-label">휴대폰번호</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="010-1111-1111">
                  <div class="invalid-feedback">
                    휴대폰번호를 입력해주세요.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="email" class="form-label">이메일</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    이메일을 입력해주세요.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">주소</label>
                  <input type="text" class="form-control" id="address" placeholder="서울시 강남구 압구정로 ~" required>
                  <div class="invalid-feedback">
                    주소를 입력해주세요.
                  </div>
                </div>

                <div class="col-12">
                  <label for="account_name" class="form-label">입금자명</label>
                  <input type="text" class="form-control" id="account_name" name="accountName" placeholder="홍길동">
                  <div class="invalid-feedback">
                    입금자명을 입력해주세요.
                  </div>
                </div>

                <hr class="my-4">
                <p>상품목록</p>
                <select class="form-select" onchange="selectProduct(this.value)">
                  <option selected>선택</option>
                  <th:blocl th:each="product : ${products}">
                    <option th:value="${product.no}" th:text="${product.productName}"></option>
                  </th:blocl>
                </select>

                <div id="orderList">
                </div>
                
                <div class="col-12 row">
                  <div class="col-7 text-start"></div>
                  <div class="col-5 d-flex justify-content-end">
                    <label for="cnt" class="col-4 col-form-label">합계:</label>
                    <div class="col-3" id="totalCnt"></div>
                  </div>
                </div>

                <hr class="my-4">

                <div class="form-check">
                  <p>배송 방식</p>
                  <input type="checkbox" class="form-check-input" id="normalParcel" name="parcel" value="1" onclick="checkOnlyOne(this)">
                  <label class="form-check-label" for="save-info">일반택배</label>
                </div>

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="halfParcel" name="parcel" value="2" onclick="checkOnlyOne(this)"> 
                  <label class="form-check-label" for="save-info">반값택배</label>
                </div>
    
    
                <hr class="my-4">
      
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="cashReceipts" name="cashReceipts" value="1">
                  <label class="form-check-label" for="same-address">현금영수증</label>
                </div>
    
      
                <hr class="my-4">
  
                <button class="w-100 btn btn-primary btn-lg" type="submit">주문하기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="user/include/footer :: footerFragment"></th:block>

<th:block th:replace="user/include/script :: scriptFragment"></th:block>
<script th:inline="javascript">

  //상품내역
  var products = Object.values([[${products}]]);

  //선택함 삼품 가져오는 함수
  function searchObj(obj, searchValue) {

    let result = null;

    for (let key in obj) {

      const val = obj[key];

      if (val.no == searchValue) {

        result = obj[key];
        break;
      }
    }

    return result;
  }

  //상품 선택
  function selectProduct(val) {

    //선택한 상품 값 가져오기
    var value = searchObj(products, val);

    const orderList = document.querySelector('#orderList');

    let str = '';
    str += '<div id="product-'+val+'" class="col-12 row mt-10">';
    str += '<div class="col-7 text-start">';
    str += '<p>'+value.productName+'</p>'
    str += '</div>'
    str += '<div class="col-7">';
    str += '<div class="input-group">';
    str += '<button type="button" class="btn btn-primary" onclick="plusMinus(\'M\')"><i class="fas fa-minus"></i></button>';
    str += '<div class="col-sm-2">';
    str += '<input type="text" class="form-control" id="cnt-'+val+'" value="1">';
    str += '</div>';
    str += '<button type="button" class="btn btn-primary" onclick="plusMinus(\'P\')"><i class="fas fa-plus"></i></button>';
    str += '</div>';
    str += '</div>';
    str += '<div class="col-5 d-flex justify-content-end">';
    str += '<span id="price-'+val+'">'+value.price+'원</span>';
    str += '</div>';
    str += '<hr class="my-4">';
    str += '</div>';

    orderList.innerHTML += str;
  
  }

  function plusMinus(div) {

    var value = parseInt(document.getElementById('cnt').value, 10);
    value = isNaN(value) ? 0 : value;

    if(div=='P') value++;
    else if(div=='M') value--;

    if(value < 0) return false;

    document.getElementById('cnt').value = value;

  }
  
</script>
</body>
</html>