<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>루니웹</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
    </th:block>
    <!-- content script -->
</head>
<body>
    <!-- header fragment 사용 -->
    <!-- <th:block th:replace="fragments/header :: headerFragment"></th:block> -->
    <!-- content fragment 사용 -->
    <th:block th:replace="user/contents/index :: contentsFragment"></th:block>
    <!-- footer fragment 사용 -->
    <th:block th:replace="user/include/footer :: footerFragment"></th:block>
</body>
<th:block layout:fragment="script"></th:block>
</html>