<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="scriptFragment">
    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{vendor/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
        <script type="text/javascript" th:src="@{js/sb-admin-2.min.js}"></script>
        <script type="text/javascript" th:src="@{vendor/chart.js/Chart.min.js}"></script>
        <script type="text/javascript" th:src="@{js/demo/chart-area-demo.js}"></script>
        <script type="text/javascript" th:src="@{js/demo/chart-pie-demo.js}"></script>
    </th:block>
</div>
</html>