<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
          <li class="nav-item"><a th:href="@{/user(section='order')}" id="order" class="nav-link">주문하기</a></li>
          <li class="nav-item"><a th:href="@{/user(section='orderList')}" id="orderList"  class="nav-link">주문내역</a></li>
          <!-- <li class="nav-item"><a th:href="@{/user(section='orderList')}" id="orderList"  class="nav-link">문의하기</a></li> -->
        </ul>
      </header>
    </div>
    <script th:inline="javascript">
      let section = /*[[${section}]]*/;

      if(section == 'order') {
        let order = document.getElementById("order");
        order.classList.add("active");
      } else if(section == 'orderList') {
        let orderList = document.getElementById("orderList");
        orderList.classList.add("active");
      }
    </script>
</div>
</html>